---
---

@import "{{ site.theme }}";
body {
  color: #373737;
  background: #fafafa;
}

 #header_wrap {
   background-image: url('/images/inspire-helsinki-2019-banner.png');
   background-repeat: no-repeat;
   background-color: white;

   .inner {
     padding-bottom: 217px;
   }
 }

 #main_content_wrap {
   background: #fafafa;
   border-top: 1px solid #0066a7;
   border-bottom: 1px solid #0066a7;

   #main_content {
     .inner {
       max-width: 58em;
     }
   }
 }

 #footer_wrap {
   background: #ffffff;

   footer {
     p {
       color: #797979;
     }

     a {
       color: black;
       text-decoration: none;
     }
   }
 }
