---
---

@import "{{ site.theme }}";
 #header_wrap {
   background-image: url('/images/inspire-helsinki-2019-banner.png');
   background-repeat: no-repeat;
   background-color: white;

   .inner {
     padding-bottom: 88px;
   }
 }

 #main_content_wrap {
   background: #fafafa;
 }

 #footer_wrap {
   background: #ffffff;
 }

 footer {
   p {
     color: #797979;
   }

   a {
     color: black;
     text-decoration: none;
   }
 }
