---
---

@import "{{ site.theme }}";
@mixin background-2x($path, $ext: "png", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");
  background-size: $w $h;
  background-position: $pos;
  background-repeat: $repeat;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
  }
}
body {
  color: #373737;
  background: #fafafa;
}

h1 {
  color: #0065a5;
}

h2 {
  color: #0065a5;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 0px;
  background: none;
}

.inner {
  position: static;
}

 #header_wrap {
     display: none;
 }

 #main_content_wrap {
   background: #fafafa;
   border-top: 1px solid #0066a7;
   border-bottom: 1px solid #0066a7;

   .inner {
     max-width: 58em;
   }
}

#main_content {
  padding-top: 0px;
}

.challenge {
  .jumbotron {
    background-color: #e6e6e6;

    h1 {
      border-radius: 10px;
      padding: 0.5ex;
      opacity: 0.8;
    }

    p {
      border-radius: 10px;
      padding: 2ex;
      opacity: 0.8;
      text-align: justify;
    }
  }
}

.card {
  .card-title {
    margin-top: 0px;
  }
  .card-text {
    min-height: 6em;
  }
}
 #footer_wrap {
   background: #ffffff;

   .inner {
     max-width: 58em;
     font-size: smaller;
     p {
       color: #797979;
     }

     a {
      color: black;
      text-decoration: none;
     }
   }
 }

 .navbar-brand {
   &.long {
     display:none;
   }
 }

 .navbar-nav {
   font-size: large;
 }

 ul.timeline {
    list-style-type: none;
    position: relative;



    &:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }

    li {
        margin: 20px 0;
        padding-left: 1.7rem;
        clear:both;

        &:before {
            content: ' ';
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid #22c0e8;
            left: 20px;
            width: 20px;
            height: 20px;
            z-index: 400;
        }
        &.passed {
            &:before {
              border: 3px solid #c1c1c1;
            }

            h5 {
              color: #6f6f6f;
            }
            p {
              color: #949090
            }
            span {
              color: #949090;
            }
         }

        h5 {
          color: #007bff;
          font-size: 1rem;
          font-weight: normal;
          display: inline;
        }
        p {
          margin-top: 0px;
        }

        span {
          color: #007bff;
        }
    }
}
@media screen and (min-width: 500px) {
  .navbar-brand {
    &.short {
      display:none;
    }
    &.long {
      display:block;
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand {
    &.short {
      display:none;
    }
    &.long {
      display:none;
    }
  }
  #header_wrap {
    display: block;
  }
  #main_content {
    padding-top: 40px;
  }

  #header_wrap {
    @include background-2x( '/images/inspire-helsinki-2019-data-challenge-banner', 'png', 1200px);
    background-color: white;
    position:relative;

    .inner {
      padding-bottom:172px;

      .signup {
        position: absolute;
        top: 140px;
        left: 60px;
      }
    }
  }
}
